body{
width: 100%;
height: 100%;
margin: 0 auto;
}
ul{
padding: 0px!important;
}
.menu-principal{
width: 100%;
background-color:#252323;
height: 60px;
}
main{
margin: 0 auto;
width: 980px;
position: relative;
}
.logo{
float: left;
padding: 14px;
width: 60%;
}
.redes-sociais ul li {
margin-left: 30px;
display: inline-block;
float: left;
}
.redes-sociais{
    width: 30%;
    float: left;
}
.redes-sociais ul li img {
 height: 20px;
 width: 25px;
}
.header-2{
background-color: #ac9c8ad2;
width: 980px;
margin: 0 auto;
padding: 5px;
}
.menu-urls{
height: 80px;
border-bottom: 3px solid #64625f;
}
.menu ul li {
display: inline-block;
color: #8b8b8b;
margin-left: 15px;
height: 25px;
}
.menu ul li:hover {
border-bottom: 3px solid #bb6016;
}
.menu ul li a:hover {
color: #bb6016;
}
.menu ul li a {
color: #160f0c;
text-decoration: none;
font-size: 15px;
text-transform: uppercase;
}
.col-100{
    width: 100%;
    float: left;
    position: relative;
}
.buscar{
    background-image: url(../img/buscar\ 2.svg) ;
    background-repeat: no-repeat;
    background-position: 96%;
    height: 10px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    width: 190px;
    border: 1px solid #3b3434;
}
.banner img{
display: inline-block;
width: 100%;
margin: 0 auto;
padding: 5px;
}
.formulario {
display: inline-block;
width: 100%;
}

    a {
        text-decoration: none;
        color: rgb(192, 102, 17);
    }
    
    #login {
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
    }
    
    .name input {
        border-radius: 15px;
        border: none;
        width: 250px;
        height: 40px;
        padding-left: 15px;
        background-color: #8b8b8b;
        color: #252323;
        margin-bottom: 15px;
    }
    
    .email input {
        border-radius: 15px;
        border: none;
        width: 250px;
        height: 40px;
        padding-left: 15px;
        background-color: #8b8b8b;
        color: #252323;
    }
    
    .senha input {
        border-radius: 15px;
        border: none;
        width: 250px;
        height: 40px;
        padding-left: 15px;
        background-color: #8b8b8b;
        color: #252323;
        margin-top: 15px;
    }
    
    .entrar input {
        cursor: pointer;
        width: 120px;
        height: 40px;
        border-radius: 20px;
        border: none;
        background-color: rgb(134, 243, 134);
        color: #141414;
    }
    
    input::placeholder {
        color: #0a0a0a;
    }
    
    h1 {
        color: #030303;
    }
    
    .caixa {
        margin-top: 65px;
    }
    
    .caixa img {
        width: 115px;
    }
    
    input:focus {
        outline: none;
    }

